.like {
  position: absolute;
  bottom: 85px;
  right: 5px;
  background-color: transparent;
  user-select: none;
}
.delete {
  position: absolute;
  background-color: transparent;
  user-select: none;
  bottom: 85px;
  left: 5px;
}
