.Header{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    align-items: center;
    justify-content: center;
   
    h1{
       font-size: 5rem; 
       margin-right: 100px;
    }
    button{
        width: 130px;
        height: 60px;
        font-size: 1.5rem; 
        background:rgb(230, 220, 220);
        border-radius: 15px;
    }

}